@mixin make-row($gutter: $grid-gutter-width-base) {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($gutter / -2);
  margin-left:  ($gutter / -2);
}

@mixin make-col-ready($gutter: $grid-gutter-width-base) {
  position: relative;
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  width: 100%;
  max-width: 100%;
  min-height: 1px; // Prevent columns from collapsing when empty.
  padding-right: ($gutter / 2);
  padding-left: ($gutter / 2);
}

@mixin make-col-full() {
  flex: 0 0 100%;
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  // width: percentage($size / $columns);
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin make-col-push($size, $columns: $grid-columns) {
  left: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-pull($size, $columns: $grid-columns) {
  right: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-modifier($type, $size, $columns) {
  // Work around the lack of dynamic mixin @include support (https://github.com/sass/sass/issues/626)
  @if $type == push {
    @include make-col-push($size, $columns);
  } @else if $type == pull {
    @include make-col-pull($size, $columns);
  } @else if $type == offset {
    @include make-col-offset($size, $columns);
  }
}
