$grid-columns: 12 !default;

$grid-gutter-width-base: 30px !default;
$gutter: $grid-gutter-width-base !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
