blockquote.paragraph--type--quote { // stylelint-disable-line selector-no-type, selector-no-qualifying-type
  &::before {
    margin-right: 0.2em;
    color: #bbb;
    font-size: 3em; // stylelint-disable-line declaration-property-unit-whitelist
    line-height: 0.85em;
    content: "\201C";
    vertical-align: top;
  }

  > :first-child {
    display: inline-block;
  }

  > cite { // stylelint-disable-line selector-no-type
    display: block;
  }
}
