blockquote.paragraph--type--quote::before {
  margin-right: 0.2em;
  color: #bbb;
  font-size: 3em;
  line-height: 0.85em;
  content: "\201C";
  vertical-align: top;
}

blockquote.paragraph--type--quote > :first-child {
  display: inline-block;
}

blockquote.paragraph--type--quote > cite {
  display: block;
}
