@media (min-width: 768px) {
  .paragraphs-plugin-inline-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .paragraphs-plugin-inline-container > .form-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .paragraphs-plugin-inline-container > .form-item label {
    margin-top: 5px;
    min-width: 150px;
  }
  .paragraphs-plugin-inline-container > .form-item .paragraphs-plugin-form-element {
    margin-left: 10px;
    margin-bottom: 2px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .paragraphs-plugin-inline-container > .form-item .select2-container {
    margin-left: 10px;
    margin-bottom: 2px;
  }
  .paragraphs-plugin-inline-container.multiple-lines {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.paragraphs-plugin-inline-container .select2-container .select2-selection {
  min-width: 100px;
}

.paragraphs-behavior-language-behavior-form > .fieldset-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.paragraphs-behavior-language-behavior-form > .fieldset-wrapper > .form-item {
  float: left;
}

.paragraphs-behavior-language-behavior-form > .fieldset-wrapper > .form-item:not(:last-child) {
  margin-right: 10px;
}
