.paragraphs-behavior-grid {
  &-layout-row,
  &-layout-row > .field__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-layout-col-4 {
    flex: 0 1 33.33333%;
  }

  &-layout-col-8 {
    flex: 0 1 66.66667%;
  }
}
