.paragraphs-behavior-grid-layout-row,
.paragraphs-behavior-grid-layout-row > .field__items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paragraphs-behavior-grid-layout-col-4 {
  -webkit-flex: 0 1 33.33333%;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
}

.paragraphs-behavior-grid-layout-col-8 {
  -webkit-flex: 0 1 66.66667%;
      -ms-flex: 0 1 66.66667%;
          flex: 0 1 66.66667%;
}
