.paragraphs-behavior-style--bold {
  color: lightcoral;
  font-weight: bold;
}

.paragraphs-behavior-style--italic {
  color: #5daf55;
  font-style: italic;
}

.paragraphs-behavior-style--underline {
  color: #ed5;
  text-decoration: underline;
}

.paragraphs-behavior-style--overline {
  color: #0e69be;
  text-decoration: overline;
}

.paragraphs-behavior-style--groupless {
  color: red;
  text-decoration: line-through;
}
