.paragraphs-behavior-style {
  &--bold {
    color: lightcoral;
    font-weight: bold;
  }

  &--italic {
    color: #5daf55;
    font-style: italic;
  }

  &--underline {
    color: #ed5;
    text-decoration: underline;
  }

  &--overline {
    color: #0e69be;
    text-decoration: overline;
  }

  &--groupless {
    color: red;
    text-decoration: line-through;
  }
}
