// Code for using the image field as background.
.paragraph {
  &.paragraphs-behavior-background {
    position: relative;

    > .paragraphs-behavior-background--element {
      position: relative;
      z-index: 20;
    }

    > .paragraphs-behavior-background--image {
      position: absolute;
      top: 0;
      height: 100%;
      margin-right: 0;
      overflow: hidden;
      z-index: 10;
    }
  }
}
