.paragraphs-behavior-style {
  &--paragraphs-green {
    padding: 1em;
    background-color: #68ad52;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
  }

  &--paragraphs-blue {
    padding: 1em;
    background-color: #0851da;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .paragraphs-behavior-style--paragraphs-slideshow-light {
    background-color: #acf;
    color: #223;
    text-align: center;
  }

  .paragraphs-behavior-style--paragraphs-slideshow-dark {
    background-color: #223;
    color: #acf;
    text-align: center;
  }
}
