.paragraphs-collection-demo-behavior-grid-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.paragraphs-collection-demo-behavior-grid-row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.paragraphs-collection-demo-behavior-grid-row.no-gutter > [class^="paragraphs-behavior-flexible-grid-col"] {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 576px) {
  .paragraphs-collection-demo-behavior-grid-row.equal-cols {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

.paragraphs-collection-demo-behavior-grid-row.equal-cols .paragraphs-behavior-flexible-grid-col {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .paragraphs-collection-demo-behavior-grid-row.equal-cols .paragraphs-behavior-flexible-grid-col {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

[class^="paragraphs-behavior-flexible-grid-col"] {
  position: relative;
  box-sizing: border-box;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.paragraphs-behavior-flexible-grid-col-1-2 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .paragraphs-behavior-flexible-grid-col-1-2 {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

.paragraphs-behavior-flexible-grid-col-1-4 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .paragraphs-behavior-flexible-grid-col-1-4 {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

.paragraphs-behavior-flexible-grid-col-3-4 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .paragraphs-behavior-flexible-grid-col-3-4 {
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

.paragraphs-behavior-flexible-grid-col-1-3 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .paragraphs-behavior-flexible-grid-col-1-3 {
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.paragraphs-behavior-flexible-grid-col-2-3 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .paragraphs-behavior-flexible-grid-col-2-3 {
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}
