@import "include/variables";
@import "include/breakpoint-mixins";
@import "include/grid-mixins";

.paragraphs-collection-demo-behavior-grid-row {
  @include make-row;

  // Modifiers.

  // No gutter modifier.
  // @todo - consider using .paragraphs-behavior-flexible-grid--no-gutter?
  // Or if we are fine with smaller selector then consider using same
  // additional class pattern for columns?
  // @todo - note that we still do not use this. Remove it later if still
  // not used.
  &.no-gutter {
    margin-right: 0;
    margin-left: 0;

    > [class^="paragraphs-behavior-flexible-grid-col"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  // Equal cols modifier.
  &.equal-cols {
    @include media-breakpoint-up("sm") {
      flex-wrap: nowrap;
    }

    .paragraphs-behavior-flexible-grid-col {
      flex: 0 0 100%;
      max-width: 100%;

      @include media-breakpoint-up("sm") {
        flex: 1 1 auto;
      }
    }
  }
}

// General column rules.
@at-root [class^="paragraphs-behavior-flexible-grid-col"] {
  @include make-col-ready;
}

.paragraphs-behavior-flexible-grid-col {
  &-1-2 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(6);
    }
  }

  &-1-4 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(3);
    }
  }

  &-3-4 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(9);
    }
  }

  &-1-3 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(4);
    }
  }

  &-2-3 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(8);
    }
  }
}
