{% extends "@paragraphs_collection/field--paragraphs.html.twig" %}
{#
/**
 * @file
 * Theme override for a field paragraph_intro.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{% block content %}
  {# @todo - experimenting here with idea to remove unececary div wrapper 
     when we are not in edit mode. #}
  {% if attributes.offsetExists('data-quickedit-field-id') %}
    <div{{ attributes }}>{{ items[0].content }}</div>
  {% else %}
    {{ items[0].content }}
  {% endif %}
{% endblock %}
